<center><h2>Preview</h2></center>
<div class="col-md-12">
	<!---- Job Fulltime add new job form
	======================================-->
	<form name="form_preview_fulltime" class="form-horizontal" role="form" novalidate>
    	<div class="col-md-12">
        	<h2><%= headline %></h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
        	<img src="<%= apiUrl %>files/<%= (file_name) ? file_name : 'no-img.jpg' %>">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8" style="text-align: justify;">
        	<p style="padding-left: 5.5em;">
        		<%= headlineDesc %>
        	</p>
        </div>
        <% _.each(jobs, function(job) { 
            if (typeof job.location_text !== "undefined" && typeof job.industry_text !== "undefined") 
            { 
        %>
	        <div class="col-md-12">
	        	<hr/>
	        	<p>
	        		<h3><%= job.job_title %></h3>
            		<b>Location: <%= job.location_text.toString().replace(/,/g, ", ") %></b>
            		<br/><br/>
            		<b>Posted: </b>
            		<br/>
            		<b>Salary: </b><%= job.salary + " " + job.currency_text %>
            		<br/>
            		<b>Experience: </b><%= job.yr_exp %>
            		<br/>
            		<b>Valid Until: </b><%= DateHelper.getDateStr(validUntil) %>
            		<br/>
            		<b>Industry: </b><%= job.industry_text.toString().replace(/,/g, ", ") %>
            		<br/><br/>
            		<h3>Job Description</h3>
            		<p class="text-justify">
            			<%= job.job_desc %>
            		</p>
	        	</p>
	        </div>
            
            <% } %>

        <% } ); %>
        <div class="col-md-12">
        	<hr/>
        </div>
  		<div class="col-md-12 col-md-offset-10">
            <div class="form-group">
                <a href="javascript:void(0);" class="btn btn-primary" 
                	onclick="<%= preeviewBack %>">Back</a>
                <a href="javascript:void(0);" class="btn btn-primary btn-post" 
                	onclick="<%= posting %>">
                    Post
                </a>
            </div>
        </div>
    </form>
</div>