<script type="text/template" id="date-range-input-temp">
    <% _.each(rangeDateArr, function(date, i) { 
            var appendId = formId + '-' + date.timeStamp + '-' + addedTimeId;
            var formIdTimestamp = formId + '-' + date.timeStamp;
        %>
        <div class="row">
            <div class="col-md-12"><hr/></div>
            
            <div class="col-md-3">
                <input type="checkbox" 
                    data-options='{"formId" : "<%= formId %>", "timeStamp": "<%= date.timeStamp %>"}'
                    class="time-input-enable-<%= appendId %> time-input-enable" 
                    name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][duration_time_enable]"
                    data-index="<%= date.timeStamp %>-<%= addedTimeId %>"
                    checked="checked">
                <%= date.label %>
            </div>

            <div class="col-md-6" style="text-align: center;">
                <a href="javascript:void(0);"
                    data-options='{"formId":"<%=formId%>","timeStamp":"<%= date.timeStamp %>",
                        "label":"<%= date.label %>","dateStr":"<%= date.dateStr %>","day":"<%= date.day %>"}'
                    class="btn-add-newsched btn-add-newsched-<%= appendId %>"
                    data-add-newsched-info="<%= date.timeStamp %>|<%= date.label %>|
                        <%= date.dateStr %>|<%= date.day %>|<%= addedTimeId %>">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add Schedule For this Date
                 </a>
            </div>
        </div>

        <div class="col-md-12">&nbsp;</div>

        <div class="row time-input-<%= formId %>-<%= date.timeStamp %> time-input-con-<%= appendId %>" 
            data-info="<%= formId %>|<%= date.timeStamp %>|<%= addedTimeId %>" style="margin-left: 35%">
            
            <input type="hidden" 
                class="hidden-datestr-<%= appendId %>"
                name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][date]" 
                value="<%= date.dateStr %>">

            <input type="hidden" 
                class="hidden-timestamp-<%= appendId %>"
                name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][day]" 
                value="<%= date.day %>">

            <div class="col-md-3">
                <input type="text" 
                        class="form-control 
                        time-input-from-<%= appendId %>
                        time-input-from-<%= formIdTimestamp %>
                        time-only" 
                        name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][duration_time_from][]" 
                        placeholder="00:00 AM">
            </div>
            <div class="col-md-3">
                <input type="text" 
                        class="form-control 
                        time-input-to-<%= appendId %>
                        time-input-to-<%= formIdTimestamp %>
                        time-only" 
                        name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][duration_time_to][]" 
                        placeholder="00:00 PM">
            </div>
            
            <div class="col-md-1">
                <a href="javascript:void(0);" class="btn-time-remove" 
                    data-options='{"formId":"<%= formId %>", "timeStamp":"<%= date.timeStamp %>", "appendId":"<%= appendId %>"}'>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>

        </div>

        <br/>
    <% }) %>
</script>

<script type="text/template" id="added-date-range-temp">
        
        <% var appendId = formId + '-' + timeStamp + '-' + addedTimeId; %>
        <% var formIdTimeStamp = formId + '-' + timeStamp; %>
        
        <div class="col-md-12 time-input-con-<%= appendId %>">
            &nbsp;
        </div>

        <div class="row time-input-<%= formId %>-<%= timeStamp %> time-input-con-<%= appendId %>" 
            data-info="<%= formId %>|<%= timeStamp %>|<%= addedTimeId %>" style="margin-left: 35%">
            
            <input type="hidden" 
                class="hidden-datestr-<%= appendId %>"
                name="jobs[job-<%= formId %>][durations][<%= timeStamp %>][date]" 
                value="<%= dateStr %>">

            <input type="hidden" 
                class="hidden-timestamp-<%= appendId %>"
                name="jobs[job-<%= formId %>][durations][<%= timeStamp %>][day]" 
                value="<%= day %>">

            <div class="col-md-3">
                <input type="text" 
                        class="form-control 
                        time-input-from-<%= appendId %> 
                        time-input-from-<%= formIdTimeStamp %>
                        time-only" 
                        name="jobs[job-<%= formId %>][durations][<%= timeStamp %>][duration_time_from][]" 
                        placeholder="00:00 AM">
            </div>
            <div class="col-md-3">
                <input type="text" 
                        class="form-control 
                        time-input-to-<%= appendId %>
                        time-input-to-<%= formIdTimeStamp %>
                        time-only" 
                        name="jobs[job-<%= formId %>][durations][<%= timeStamp %>][duration_time_to][]" 
                        placeholder="00:00 PM">
            </div>
            
            <div class="col-md-1 con-time-remove-<%= appendId %>">
                <a href="javascript:void(0);" class="btn-time-remove"
                    data-options='{"formId":"<%= formId %>", "timeStamp":"<%= timeStamp %>", "appendId":"<%= appendId %>"}'>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>

        </div>
</script>

<!-- Fulltime Preview Template
=========================================-->
<script type="text/template" id="part-time-preview">
    <center><h2>Preview</h2></center>
    <div class="col-md-12">
        <!---- Job Fulltime add new job form
        ======================================-->
        <form name="form_preview_fulltime" class="form-horizontal" role="form" novalidate>
            <div class="col-md-12">
                <h4><%= headline %></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <% if (file_name) { %>
                    <img src="<%= apiUrl %>files/<%= file_name %>">
                <% } else { %>
                    <img src="<%= apiUrl %>files/no-img.jpg">
                    <!--<canvas id="preview-canvas"></canvas>-->
                <% } %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <p class="text-justify">
                    <%= headlineDesc %>
                </p>
            </div>
            <% _.each(jobs, function(job) { 
                    if (typeof job.location_text !== "undefined" && typeof job.industry_text !== "undefined") 
                    { 
                %>
                <div class="col-md-12">
                    <hr/>
                    <p>
                        <h3><%= job.job_title %></h3>
                        <b>Location: <%= job.location_text.toString().replace(/,/g, ", ") %></b>
                        <br/><br/>
                        <b>Posted: </b>
                        <br/>
                        <b>Salary: </b><%= job.salary + " " + job.currency_text %>
                        <br/>
                        <b>Experience: </b><%= job.yr_exp %> years
                        <br/>
                        <b>Valid Until: </b><%= DateHelper.getDateStr(validUntil, "sm-d-y") %>
                        <br/>
                        <b>Industry: </b><%= job.industry_text.toString().replace(/,/g, ", ") %>
                        <br>
                        <b>Duration: </b><%= DateHelper.getDateStr(job.duration_from, 'sm-d-y') + ' - ' + DateHelper.getDateStr(job.duration_to, 'sm-d-y') %>
                        <br>
                        <b><%= Helper.makeDurationDate(job.durations) %></b>
                        <br/><br/>
                        <h3>Job Description</h3>
                        <p class="text-justify">
                            <%= job.job_desc %>
                        </p>
                    </p>
                </div>
                
                <% } %>

            <% } ); %>
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="col-md-12 col-md-offset-10">
                <div class="form-group">
                    <a href="javascript:void(0);" class="btn btn-primary btn-preview-back">Back</a>
                    <a href="javascript:void(0);" class="btn btn-primary btn-post">Post</a>
                </div>
            </div>
        </form>
    </div>
</script>