<div class="row">
	<div class="col-md-12">
			<strong><%= numJobs %> jobs found</strong>
	</div>
</div>
<br/>
<div class="row">
	<%
		_.each(jobList, function(job, key) {
	%>
	<div class="panel panel-default" id="job-group-<%= job.job_group_id %>">
		<div class="panel-body">
			<div class="col-md-8">
				<div class="col-md-12">
					<h2><%= job.job_group_name %></h2>
				</div>
				<div class=col-md-5>
				<% if (job.cover_photo) { %>
					<img src="api/v1/public/files/<%= job.cover_photo %>" alt="">
				<% } else { %>
					<img src="api/v1/public/files/no-img.jpg" alt="">
				<% } %>
				</div>
				<div class="col-md-7">
					<p style="text-align: justify"><%= job.description %></p>
				</div>
			</div>
		
			<div class="col-md-4">
				<div class="col-md-12"><h1>&nbsp;</h1></div>
				
				<div class="col-md-12">
					<ul style="list-style: none">
						<li><strong>Created By: </strong></li>
						<li><strong>Created Date: </strong>&nbsp;&nbsp;<%= job.date_created %></li>
						<li><strong>Hiring Duration: </strong>&nbsp;&nbsp;<%= job.duration_start %>  &nbsp; - &nbsp; <%= job.duration_end %></li>
					</ul>
				</div>
				
				<div class="col-md-12">
					<div class="form-group">
						<div class="btns-job-list">
							
							<% if (jobPostStatus == 1) { %>
								<a href="javascript:void(0);" 
									class="btn btn-primary btn-closed-job btn-closed-<%= job.job_group_id %>" 
									data-options="<%= job.job_group_id %>">
									Close Job
								</a>
							<% } %>

							<% if (jobPostStatus == 2) { %>
								<a href="javascript:void(0);" 
									class="btn btn-primary btn-publish-job btn-publish-<%= job.job_group_id %>" 
									data-options="<%= job.job_group_id %>">
									Publish Job
								</a>
							<% } %>

							<a href="javascript:void(0);" 
								class="btn btn-primary btn-preview-job" 
								data-options='{ "jobGroupId": "<%= job.job_group_id %>", "jobPostStatus": "<%= jobPostStatus %>" }'>
								Preview
							</a>

							<a href="javascript:void(0);" class="btn btn-primary btn-edit-job"
								data-options='{ "jobGroupId": "<%= job.job_group_id %>", "jobPostStatus": "<%= jobPostStatus %>" }'>
								Edit Posting
							</a>
							
						</div>
					</div>
				</div>
			</div>
			
			<% _.each(job.jobs, function(availableJob) { %>
				<div class="row job-<%= availableJob.job_post_id %>">
					<div class="col-md-12"><hr/></div>
					<div class="col-md-5">
						<ul style="list-style: none;">
							<li><h4><%= availableJob.job_title %></h4></li>
							<li></li>
							<li><strong>Location:</strong> <%= availableJob.country_location %></li>
							<li><strong>Salary: </strong> <%= availableJob.salary %> <%= availableJob.currency_code %></li>
							<li><strong>Experience: </strong> <%= availableJob.yr_exp %></li>
							<li><strong>Industry: </strong> <%= availableJob.job_industries %></li>
							<li>&nbsp;</li>
							<% if (availableJob.post_status == 1) { %>
							<li>
								<a href="javascript:void(0);" data-job-post-id="<%= availableJob.job_post_id %>" class="btn btn-primary btn-applicants-view">View 0 applicants</a>
								<a href="javascript:void(0);" data-job-post-id="<%= availableJob.job_post_id %>" class="btn btn-primary btn-shorlisted-view">View 0 shortlisted applicants</a>
							</li>
							<% } %>
						</ul>
					</div>
					<div class="col-md-7">
						<p><%= availableJob.job_description %></p>
					</div>
				</div>
			<% }) %>
			

		</div><!-- Panel Body - End -->
	</div>
	
<% }) %>

</div>