<div class="row">
	
	<form name="<%= formName %>" class="form-horizontal">
	
		<input type="hidden" name="employment_type_id" value="<%= employmentTypeId %>"/>
		<input type="hidden" name="post-status-id" value="<%= postStatusId %>"/>

			<div class="form-group col-md-12">
				<div class="col-md-5">
					<input type="text" class="form-control" 
						name="keywords" id="" placeholder="Keywords">
				</div>
			</div>
	
			<div class="form-group col-md-12">
				<label for="hiring_duration_from" class="col-md-2 control-label">
					Date Of Validity</label>
				<div class="col-md-2">
					<input type="text" class="form-control datepicker" name="validity-from" 
							id="validity-from" placeholder="From" value="<%= validityStart %>">
				</div>
				<div class="col-md-2">
					<input type="text" class="form-control datepicker" name="validity-to" 
							id="validity-to" placeholder="To" value="<%= validityEnd %>">
				</div>
			</div>
	
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary" id="<%= btnId %>">
					Search
				</button>
			</div>
	
		</form>
</div>