<!-- temporary single add new job form template
=========================================-->
<script type="text/template" id="single-add-new-job-temp">
    <div class="form-group">
        <label for="location" class="col-md-4 control-label">
            Location</label>
        <div class="col-md-6 location-0">
        </div>
    </div>
  
    <div class="form-group">
        <label for="" class="col-md-4 control-label">
            Job Photo</label>
        <div class="col-md-8 single-job-fileupload-con">
        </div>
    </div>

    <div class="form-group">
        <label for="hiring_duration_from" class="col-md-4 col-sm-4 col-xs-4 control-label">
            Hiring Duration</label>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="text" class="form-control datepicker" name="hiring_duration_from" 
                    id="hiring_duration_from" placeholder="From">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="text" class="form-control datepicker" name="hiring_duration_to" 
                    id="hiring_duration_to" placeholder="To">
        </div>
    </div>

    <div class="added-job-form added-job-form-<%= formID %>" id="added-job-form-<%= formID %>">
    
        <div class="form-group">
            <label for="job_title" class="col-md-4 control-label">
                Job Title</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="jobs[job-0][job_title]">
            </div>
        </div>

        <div class="form-group">
            <label for="job_desc" class="col-md-4 control-label">
                Job Description</label>
            <div class="col-md-6">
                <textarea class="form-control" name="jobs[job-0][job_desc]" 
                        cols="30" rows="4"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="industry" class="col-md-4 control-label">
                Industry</label>
            <div class="col-md-6 industry-0">
            </div>
        </div>

        <div class="form-group">
            <label for="salary" class="col-md-4 control-label">
                Salary</label>
            <div class="col-md-2">
                <input type="text" class="form-control number-only" name="jobs[job-0][salary]" id="salary">
            </div>
            <div class="col-md-2 currency-0">
            </div>
        </div>

        <div class="form-group">
            <label for="industry" class="col-md-4 control-label">
                Years Experiece</label>
            <div class="col-md-3">
                <input type="text" class="form-control number-only" name="jobs[job-0][yr_exp]" id="yr_exp">
            </div>
        </div>

        <div class="form-group form-group-filled date-range-<%= formID %>">
            <label for="duration" class="col-md-4 control-label">
                Duration</label>
            <div class="col-md-2">
                <input type="text" class="form-control date-range-input-<%= formID %>" 
                    name="jobs[job-<%= formID %>][duration_from]" placeholder="From">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control date-range-input-<%= formID %>"
                    name="jobs[job-<%= formID %>][duration_to]" placeholder="To">
            </div>
        </div>

        <div class="form-group">
            <label for="day-time" class="col-md-2 col-md-offset-4 control-label">
                Day and Time</label>
            <div class="col-md-10 col-md-offset-1
                day-time-con-<%= formID %>"></div>
        </div>

        <div class="form-group">
            <div class="btn-group col-md-4 col-md-offset-4" data-toggle="buttons">
              <label class="btn btn-primary btn-post-status-publish">
                <input type="radio" name="jobs[job-<%= formID %>][post_status_id]"
                    autocomplete="off" value="1"> Publish
              </label>
              <label class="btn btn-primary btn-post-status-draft active">
                <input type="radio" name="jobs[job-<%= formID %>][post_status_id]"
                    autocomplete="off" value="2" checked> Draft
              </label>
            </div>
        </div>

    </div>

</script>

<!-- temporary group add new job form template
=========================================-->
<script type="text/template" id="group-add-job-form-temp">
    <div class="form-group">
        <label for="headline" class="col-md-4 control-label">
            Job Headline</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="headline" id="headline">
        </div>
    </div>
    
    <div class="form-group">
        <label for="headline_desc" class="col-md-4 control-label">
            Job Headline Description</label>
        <div class="col-md-6">
            <textarea class="form-control" name="headline_desc" 
                id="headline_desc" cols="30" rows="4"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-md-4 control-label">
            Job Headline Photo</label>
        <div class="col-md-8 group-job-fileupload-con">
        </div>
    </div>

    <div class="form-group">
        <label for="hiring_duration_from" class="col-md-4 col-sm-4 col-xs-4 control-label">
            Hiring Duration</label>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="text" class="form-control datepicker" name="hiring_duration_from" 
                    id="hiring_duration_from" placeholder="From">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="text" class="form-control datepicker" name="hiring_duration_to" 
                    id="hiring_duration_to" placeholder="To">
        </div>
    </div>
    
    <br/>
    
    <div class="job-group-multiple-form-con">
    	<div class="added-job-form added-job-form-<%= formID %>" id="added-job-form-<%= formID %>">
        	<hr/>
        	<div class="form-group">
    			<a href="javascript:void(0);" class="col-md-1 col-md-offset-11" 
				    onclick="JobPartTime.removeSaveAddMore('<%= formID %>')">
					<i class="fa fa-times fa-5" aria-hidden="true"></i>
				</a>
        	</div>
        	<div class="form-group">
                <label for="location" class="col-md-4 control-label">
                	Location</label>
                <div class="col-md-6 location-<%= formID %>">
        		</div>
        	</div>
        	<div class="form-group">
                <label for="job_title" class="col-md-4 control-label">
                	Job Title</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="jobs[job-<%= formID %>][job_title]" id="job_title">
                </div>
            </div>
            <div class="form-group">
                <label for="job_desc" class="col-md-4 control-label">
                	Job Description</label>
                <div class="col-md-6">
                    <textarea class="form-control" name="jobs[job-<%= formID %>][job_desc]" 
                			id="job_desc" cols="30" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="industry" class="col-md-4 control-label">
                	Industry</label>
                <div class="col-md-6 industry-<%= formID %>">
                </div>
        	</div>

            <div class="form-group">
                <label for="salary" class="col-md-4 control-label">
                    Salary</label>
                <div class="col-md-2">
                    <input type="text" class="form-control number-only" name="jobs[job-<%= formID %>][salary]" id="salary">
                </div>
                <div class="col-md-2 currency-<%= formID %>">
                </div>
            </div>

            <div class="form-group">
                <label for="industry" class="col-md-4 control-label">
                    Years Experiece</label>
                <div class="col-md-3">
                    <input type="text" class="form-control number-only" name="jobs[job-<%= formID %>][yr_exp]" id="yr_exp">
                </div>
            </div>

        	<div class="form-group form-group-filled date-range-<%= formID %>">
                <label for="duration" class="col-md-4 control-label">
                	Duration</label>
                <div class="col-md-2">
                    <input type="text" class="form-control date-range-input-<%= formID %>" 
                        name="jobs[job-<%= formID %>][duration_from]" placeholder="From">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control date-range-input-<%= formID %>"
                        name="jobs[job-<%= formID %>][duration_to]" placeholder="To">
                </div>
            </div>

            <div class="form-group">
                <label for="day-time" class="col-md-2 col-md-offset-4 control-label">
                	Day and Time</label>
                <div class="col-md-10 col-md-offset-1
                    day-time-con-<%= formID %>"></div>
        	</div>

            <div class="form-group">
            	<div class="btn-group col-md-4 col-md-offset-4" data-toggle="buttons">
        		  <label class="btn btn-primary btn-post-status-publish">
        		    <input type="radio" name="jobs[job-<%= formID %>][post_status_id]"
        		    	autocomplete="off" value="1"> Publish
        		  </label>
        		  <label class="btn btn-primary btn-post-status-draft active">
        		    <input type="radio" name="jobs[job-<%= formID %>][post_status_id]"
        		    	autocomplete="off" value="2" checked> Draft
        		  </label>
        		</div>
            </div>
        </div>
    </div>

</script>


<script type="text/template" id="job-group-multiple-form-temp">
    <div class="added-job-form added-job-form-<%= formID %>" id="added-job-form-<%= formID %>">
        <hr/>
        <div class="form-group">
            <a href="javascript:void(0);" class="col-md-1 col-md-offset-11" 
                onclick="JobPartTime.removeSaveAddMore('<%= formID %>')">
                <i class="fa fa-times fa-5" aria-hidden="true"></i>
            </a>
        </div>
        <div class="form-group">
            <label for="location" class="col-md-4 control-label">
                Location</label>
            <div class="col-md-6 location-<%= formID %>">
            </div>
        </div>
        <div class="form-group">
            <label for="job_title" class="col-md-4 control-label">
                Job Title</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="jobs[job-<%= formID %>][job_title]" id="job_title">
            </div>
        </div>
        <div class="form-group">
            <label for="job_desc" class="col-md-4 control-label">
                Job Description</label>
            <div class="col-md-6">
                <textarea class="form-control" name="jobs[job-<%= formID %>][job_desc]" 
                        id="job_desc" cols="30" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="industry" class="col-md-4 control-label">
                Industry</label>
            <div class="col-md-6 industry-<%= formID %>">
            </div>
        </div>

        <div class="form-group">
            <label for="salary" class="col-md-4 control-label">
                Salary</label>
            <div class="col-md-2">
                <input type="text" class="form-control number-only" name="jobs[job-<%= formID %>][salary]" id="salary">
            </div>
            <div class="col-md-2 currency-<%= formID %>">
            </div>
        </div>
        <div class="form-group">
            <label for="industry" class="col-md-4 control-label">
                Years Experiece</label>
            <div class="col-md-3">
                <input type="text" class="form-control number-only" name="jobs[job-<%= formID %>][yr_exp]" id="yr_exp">
            </div>
        </div>

        <div class="form-group form-group-filled date-range-<%= formID %>">
            <label for="duration" class="col-md-4 control-label">
                Duration</label>
            <div class="col-md-2">
                <input type="text" class="form-control date-range-input-<%= formID %>" 
                    name="jobs[job-<%= formID %>][duration_from]" placeholder="From">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control date-range-input-<%= formID %>"
                    name="jobs[job-<%= formID %>][duration_to]" placeholder="To">
            </div>
        </div>

        <div class="form-group">
            <label for="day-time" class="col-md-2 col-md-offset-4 control-label">
                Day and Time</label>
            <div class="col-md-10 col-md-offset-1
                day-time-con-<%= formID %>"></div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-4 col-md-offset-4" data-toggle="buttons">
              <label class="btn btn-primary btn-post-status-publish">
                <input type="radio" name="jobs[job-<%= formID %>][post_status_id]"
                    autocomplete="off" value="1"> Publish
              </label>
              <label class="btn btn-primary btn-post-status-draft active">
                <input type="radio" name="jobs[job-<%= formID %>][post_status_id]"
                    autocomplete="off" value="2" checked> Draft
              </label>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="date-range-input-temp">
    <% _.each(rangeDateArr, function(date, i) { %>
        <div class="col-md-12"><hr/></div>
        <div class="row" data-date-timestamp="<%= date.timeStamp %>">
            
            <!--<input type="hidden" name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][preview]" 
                value="<%= date.preview %>">-->
            
            <input type="hidden" name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][date]" 
                value="<%= date.dateStr %>">

            <input type="hidden" name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][day]" 
                value="<%= date.day %>">

            <div class="col-md-3">
                <input type="checkbox" 
                    data-index="<%= formId + '-' + i + '-' + date.timeStamp %>"
                    class="duration-time-enable-<%= formId %>-<%= i %>-<%= date.timeStamp %>" 
                    name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][duration_time_enable]" checked="checked">
                <%= date.label %>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control 
                        duration-time-from-<%= formId %>-<%= i %>-<%= date.timeStamp %> time-only" 
                        name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][duration_time_from][]" 
                        placeholder="00:00 AM">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control 
                        duration-time-to-<%= formId %>-<%= i %>-<%= date.timeStamp %> time-only" 
                        name="jobs[job-<%= formId %>][durations][<%= date.timeStamp %>][duration_time_to][]" 
                        placeholder="00:00 PM">
            </div>
            
            <div class="col-md-3 btn-time-range-add-<%= formId %>-<%= i %>">
                <a href="javascript:void(0);" 
                    onclick="DateHelper.addTimeRange('.btn-time-range-add-<%= formId %>-<%= i %>',
                     <%= formId %>, <%= i %>, <%= date.timeStamp %>);">Add</a>
            </div>

        </div>
        <br/>
    <% }) %>
</script>

<script type="text/template" id="added-time-range-temp">
    
    <div class="col-md-12 time-range-<%= formId %>-<%= parentIndex %>-<%= timeRangeId %>">&nbsp;</div>
    <div class="col-md-3 time-range-<%= formId %>-<%= parentIndex %>-<%= timeRangeId %>">&nbsp;</div>

    <div class="col-md-3 time-range-<%= formId %>-<%= parentIndex %>-<%= timeRangeId %>">
        <input type="text" class="form-control 
                duration-time-from-<%= formId %>-<%= parentIndex %> time-only" 
                name="jobs[job-<%= formId %>][durations][<%= timeStamp %>][duration_time_from][]" 
                placeholder="00:00 AM">
    </div>

    <div class="col-md-3 time-range-<%= formId %>-<%= parentIndex %>-<%= timeRangeId %>">
        <input type="text" class="form-control 
                duration-time-to-<%= formId %>-<%= parentIndex %> time-only" 
                name="jobs[job-<%= formId %>][durations][<%= timeStamp %>][duration_time_to][]" 
                placeholder="00:00 PM">
    </div>

    <div class="col-md-3 time-range-<%= formId %>-<%= parentIndex %>-<%= timeRangeId %>">
        <a href="javascript:void(0)" 
            onclick="DateHelper.removeTimeRange('.time-range-<%= formId %>-<%= parentIndex %>-<%= timeRangeId %>')">Remove</a>
    </div>

</script>


<!-- Fulltime Preview Template
=========================================-->
<script type="text/template" id="part-time-preview">
    <center><h2>Preview</h2></center>
    <div class="col-md-12">
        <!---- Job Fulltime add new job form
        ======================================-->
        <form name="form_preview_fulltime" class="form-horizontal" role="form" novalidate>
            <div class="col-md-12">
                <h4><%= headline %></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <% if (file_name) { %>
                    <img src="<%= apiUrl %>files/<%= file_name %>">
                <% } else { %>
                    <img src="<%= apiUrl %>files/no-img.jpg">
                    <!--<canvas id="preview-canvas"></canvas>-->
                <% } %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <p class="text-justify">
                    <%= headlineDesc %>
                </p>
            </div>
            <% _.each(jobs, function(job) { %>
                <div class="col-md-12">
                    <hr/>
                    <p>
                        <h3><%= job.job_title %></h3>
                        <b>Location: <%= job.location_text.toString().replace(/,/g, ", ") %></b>
                        <br/><br/>
                        <b>Posted: </b>
                        <br/>
                        <b>Salary: </b><%= job.salary + " " + job.currency_text %>
                        <br/>
                        <b>Experience: </b><%= job.yr_exp %>
                        <br/>
                        <b>Valid Until: </b><%= validUntil %>
                        <br/>
                        <b>Industry: </b><%= job.industry_text.toString().replace(/,/g, ", ") %>
                        <br>
                        <b>Duration: </b><%= job.duration_from + ' - ' + job.duration_to %>
                        <br>
                        <br>
                        <b><%= makeDurationDate(job.durations) %></b>
                        <br/><br/>
                        <h3>Job Description</h3>
                        <p class="text-justify">
                            <%= job.job_desc %>
                        </p>
                    </p>
                </div>
            <% } ); %>
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="col-md-12 col-md-offset-10">
                <div class="form-group">
                    <a href="javascript:void(0);" class="btn btn-primary" 
                        onclick="JobPartTime.previewBack();">Back</a>
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="JobPartTime.posting(this);">
                        Post
                    </a>
                </div>
            </div>
        </form>
    </div>
</script>